.inputLabel {
    font-size: 40px;
    margin-bottom: 100px;
}

.inputText {
    width: 100%;
    padding: 16px 32px 16px 32px;
    font-size: 30px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submitButton {
    background-color: #66D48B;
    font-size: 32px;
    padding: 8px 64px 8px 64px;
    color: white;
    border: none;
}

.backTopLink {
    font-size: 25px;
}

a {
    color:#0F27FF
}